<h1>Your Birth certificate</h1>

<p>
    Id:<%=data.Id%>
</p>
<p>
    First Name:<%=data.First_Name%>
</p>
<p>
    Last Name:<%=data.Last_Name%>
</p>
<p>
    <strong>Date Of Birth:<%=data.dob%></strong>
</p>
<p>
    Time of Birth:<%=data.time%>
</p>
<p>
    Certifiedby:<%=data.certifiedby%>
</p>

<p><a href="/"> Go back!</a></p>
